

<!-- Profile Page Header Nav -->
	<nav class=" fixed-top navbar navbar-dark bg-success">	

		<!-- arrow icon -->
			<div><a routerLink="/user/:uid/website/:wid/page" class="navbar-brand">
		<i class="fas fa-angle-left"></i></a>

		<!-- Text Link -->	
		<a class="navbar-brand sw-font-white" routerLink="/user/:uid/website/:wid/page/:pid/widget"> WIDGETS</a>
		
		<!-- Plus icon -->
		<div class="float-right">
		<a routerLink="/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-brand float-right">
		<i class="fas fa-plus"></i></a>
		</div></div></nav>



	
	
<div class="container-fluid">
		
		

	<div>
				<div class="float-right">
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-cogs"></i></a>
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-list"></i></a>
				</div>
				<h1>WELCOME</h1>	
	</div>
				
	<div>
		
		<div class="float-right">
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-cogs"></i></a>
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-list"></i></a>
				</div><h4>Senate Reaches compromise on Emergency Zika Funding</h4>
	</div>

	<div>
		
		<div class="float-right">
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-cogs"></i></a>
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-list"></i></a>
				</div><img width=100% src="TakeiFB.jpg">
	</div>

	
<div>
		
		<div class="float-right">
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-cogs"></i></a>
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-list"></i></a>
				</div><div style="padding: 8px">
		<h6>In February the <a href="#">White House Formally asked congress for $1.8 billion</a>   White House Formally asked congress for $1.8 billion dollars to help combat the Zika virus this summer.  Now the Senate has worked out a bipartisan deal that will allocate $1.1 billion in emergencyfunding.</h6>	
	</div>


	<div>
				<div class="float-right">
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-cogs"></i></a>
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-list"></i></a>
				</div>
				<div style="padding: 5px">
	<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YwqklRh2irA" allowfullscreen></iframe>
</div>	
	


<div>
				<div class="float-right">
					<a routerLink="user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-cogs"></i></a>
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-list"></i></a>
				</div>
				<h6 style="padding: 8px">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</h6>	
	</div>

	
			
		<!-- heading -->
		
	<!-- footer -->
	<footer class="navbar fixed-bottom navbar-light bg-success">
		<div class="sw-full-width">
			<a routerLink="/user/:uid/website/:wid/page/:pid/widget" class="btn btn-primary">publish</a>
			<a routerLink="/user/:uid/website/:wid/page/:pid/widget" class="btn btn-warning">Preview</a>
			<a class="sw-font-white float-right navbar-brand" routerLink="/user/:uid"><i class="fas fa-user float-right"></i></a>
		</div>
	</footer>
