
	<!-- Profile Page Header Nav -->
	<nav style="height: 45px" class=" column-navbar navbar-dark bg-success">	

		<!-- arrow icon -->
		<div><a href="#" class="navbar-brand sw-font-white">
				<i class="fas fa-angle-left"></i></a>

						<!-- Text Link -->	
						<a routerLink="/user/:uid" class="navbar-brand"> <strong>WIDGET YOUTUBE</strong></a>
		
		<!-- Plus icon -->
				<div class="float-right">
						<a routerLink="/user/:uid" class="navbar-brand float-right"><i class="fas fa-check"></i></a>
				</div>
		</div>
	</nav>


	
	<!-- Profile Forms (User, Email, F/L-Name) -->
	<!-- Container -->

	<div class="container"><br>
		<div class="form-group">Name
			<input type="text" name="Website Name" placeholder="Name" class="form-control">
		</div>
		
		<!-- Username Tab -->
		<div class="form-group">Text
			<input type="text" name="Text" placeholder="Text" class="form-control">
		</div>	

		<div class="form-group">Url
			<input type="text" name="Page Title" placeholder="https:/..." class="form-control">
		</div>

		<div class="form-group">Width
			<input type="text" name="Page Title" placeholder="Infiniti%" class="form-control">
		</div>
		
		<div class="container">	
				<a class= "btn btn-danger btn-block" routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Delete</a>
		</div>	
	</div>

	<!-- Footer Nav Bar -->	
	<nav id="bottom" class="navbar navbar-dark bg-light fixed-bottom">
		
		<!-- Back Text -->
		<a style="color:brown" routerLink="/user/:uid/website/:wid/page/:pid/widget" class="navbar-brand">Back</a>
		<!-- Home Icon -->	
		<a routerLink="/profile" class="navbar-brand">
		<i style="color:brown" class="fas fa-user"></i></a></nav>
