



#blog1{background-color: red; margin: 5%; padding: 5%}

#blog2{background-color: #FF5733; margin: 5%; padding: 5%}

#blog3{background-color: #35549C; margin: 5%; padding: 5%}

#list{text-align: center;}