
	<!-- Profile Page Header Nav -->
	<nav style="height: 45px" class=" fixed-top navbar navbar-dark bg-success">	

		<!-- arrow icon -->
			<div><a routerLink="/user/:uid/website/:wid/page/:pid/widget" class="navbar-brand sw-font-white">
		<i class="fas fa-angle-left"></i></a>

		<!-- Text Link -->	
		<a routerLink="/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-brand"> <strong>CHOOSE WIDGET</strong></a>
		
		<!-- Plus icon -->
		<div class="float-right">
		<a routerLink="/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-brand float-right">
		<i class="fas fa-list"></i></a>
		</div></div></nav>


	
	<!-- Profile Forms (User, Email, F/L-Name) -->
	<!-- Container --><div class="container btn-block"><br><br>
		

	<!-- List content -->
	<ul>			
			<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:brown" routerLink="/user/:uid/website/:wid/page/:pid/widget/new"><strong>Header</strong></a>
				<a style="color:brown" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>

						<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">Label</a>
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>	
		
					<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">HTML</a>
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>

					<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">Text Input</a>
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>

					<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">Link</a>
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>

					<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">Button</a>
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>
		
					<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:brown" routerLink="/user/:uid/website/:wid/page/:pid/widget/new"><strong>Image</strong></a>
				<a style="color:brown" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>

					<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:brown" routerLink="/user/:uid/website/:wid/page/:pid/widget/new"><strong>YouTube</strong></a>
				<a style="color:brown" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>

					<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">Data Table</a>
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</div><p>

					<div>
			<!-- Address Bar  -->
			<li class="navbar navbar-light" style="background-color: white;"> 
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">Repeater</a>
				<a style="color:green" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">
					<i class="fas fa-cog"></i></a>
			</li></div><p>

	

		</ul>
		</div>

	<!-- Footer Nav Bar -->	
	<nav style="height: 45px" id="bottom" class="navbar navbar-dark  fixed-bottom">
		
		<!-- Back Text -->
		<a style="color:brown" routerLink="/user/:uid/website/:wid/page/:pid/widget" class="navbar-brand">Back</a>
		<!-- User Icon -->	
		<a style="color:brown" router="user/:uid" class="navbar-brand">
		<i style="color:brown" class="fas fa-user"></i></a></nav>
