

			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<!-- Register Page Header Nav -->
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<nav class="navbar navbar-dark bg-primary">	

				<!-- ~~~~~~~~~ -->
				<!-- Text Link -->	
				<!-- ~~~~~~~~~~ -->	
				<a routerLink="/login" class="navbar-brand">BACK</a>
				
				<!-- ~~~~~~~~~ -->
				<!-- User icon -->
				<!-- ~~~~~~~~~ -->
				<a href="#" class="navbar-brand">
				<i class="fas fa-sign-in-alt"></i></a>
				</nav>


			<!-- ~~~~~~~~~~~~~~~~~~~~ -->
			<!-- Register form fields -->
			<!-- ~~~~~~~~~~~~~~~~~~~~ -->
			<br>
			<br>
			<br>

			<!-- ~~~~~~~~~ -->
			<!-- Container -->
			<!-- ~~~~~~~~~ -->
			<div class="container">
				
				<!-- ~~~~~~~~~~~~~~ -->
				<!-- Register label -->
				<!-- ~~~~~~~~~~~~~~ -->
				<h1  align="center" >Register</h1>

					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!-- Form field Username -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input type="text" name="username" placeholder="username" class="form-control">
					</div>

					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!-- Form field Password -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input type="password" name="password" placeholder="password" class="form-control">
					</div>

					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<!--  Form field Verify  -->
					<!-- ~~~~~~~~~~~~~~~~~~~ -->
					<div class="form-group">
					<input type="password" name=" verify-password" placeholder="verify password" class="form-control">
					</div>

						<!-- ~~~~~~~~~~~~~~~~~~~ -->
						<!--   Register Button   -->
						<!-- ~~~~~~~~~~~~~~~~~~~ -->
						<a class= "btn btn-primary btn-block" routerLink="/user/:uid" >Register
						</a>

						<!-- ~~~~~~~~~~~~~~~~~~~ -->
						<!--    Cancel  Button   -->
						<!-- ~~~~~~~~~~~~~~~~~~~ -->	
						<a class= "btn btn-success btn-block" routerLink="/login">Cancel
						</a>
					
			<!-- ~~~~~~~~~~~~~~ -->
			<!-- Footer Nav Bar -->		
			<!-- ~~~~~~~~~~~~~~ -->
			<div class="container"><nav id="bottom" class="navbar navbar-dark bg-success fixed-bottom">
						
				<!-- ~~~~~~~~~ -->
				<!-- Home Text -->
				<!-- ~~~~~~~~~ -->
				<a href="#" class="navbar-brand"></a>
					
				<!-- ~~~~~~~~~ -->
				<!-- Home Icon -->
				<!-- ~~~~~~~~~ -->	
				<a href="#" class="navbar-brand">
				<i class="fas fa-home"></i></a>a></nav></div>

